.body {
  a {
    color: var(--color-primary);
    transition: 200ms ease all;
    &:visited {
      color: var(--color-primary);
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
      color: var(--color-primary);
    }
  }
}

.heading {
  font-size: 2rem;
  letter-spacing: 0.2px;
  opacity: 0.8;
}

.roadmapHeading {
  margin-top: 48px;
  font-size: 11px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  opacity: 0.6;
}

.subheading {
  margin-top: 24px;
}

.quote {
  margin-top: 24px;
  font-family: baskerville, serif;
  line-height: 1.5;
  padding: 24px 16px 24px 16px;
  border-radius: 8px;
  background: rgba(233, 233, 233, 1);
}

.desc {
  margin-top: 8px;
  line-height: 1.5;
}

.paragraph {
  margin-top: 16px;
  line-height: 1.5;
}

.list {
  margin-top: 24px;
  padding-left: 24px;
  margin-bottom: 64px;
}

.item {
  line-height: 1.5;
  margin-top: 16px;

  strong {
    font-family: 'Timestamp';
    border-radius: 4px;
    padding: 2px;
    background: #ececec;
    font-size: 12px;
    color: #000;
    vertical-align: center;
    display: inline-block;
  }
}

.website {
  font-family: 'Timestamp';
  font-weight: 400;
  opacity: 0.5;
}

.image {
  margin-top: 24px;
  width: 100%;
}

.subtle {
  font-family: 'Timestamp';
  opacity: 0.5;
  font-weight: 400;
}
